#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"

/* layer and key shortcuts */

#define ___ &trans

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NAV 1
#define MEDIA 2
#define NUM 3
#define SYM 4
#define FUN 5

/* custom behaviors */

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)



/* keymap */

ZMK_LAYER(default_layer,
    &kp SQT      &kp COMMA    &kp DOT        &kp P           &kp Y             &kp F            &kp G          &kp C            &kp R        &kp L
    &hrm LGUI A  &hrm LALT O  &hrm LCTRL E   &hrm LSHFT U    &kp I             &kp D            &hrm LSHFT H   &hrm LCTRL T     &hrm LALT N  &hrm LGUI S
    &kp SLASH    &hrm RALT Q  &kp J          &kp K           &kp X             &kp B            &kp M          &kp W            &hrm RALT V  &kp Z
                              &lt U_FUN DEL  &lt U_NUM BSPC  &lt U_SYM RET     &kp TAB  &lt U_NAV SPC  &lt U_MEDIA ESC
)

ZMK_LAYER(nav_layer,
// ╭──────────┬─────────┬─────────┬──────────┬─────────────╮  ╭────┬──────────┬──────────┬─────────┬─────────╮
    &kp PG_UP  &kp HOME  &kp UP    &kp END    &kp INS          ___  ___        ___        ___       ___
// ├──────────┼─────────┼─────────┼──────────┼─────────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  ___     ___  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
// ├──────────┼─────────┼─────────┼──────────┼─────────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    ___      ___     ___     ___      ___            ___  ___        ___        &kp RALT  ___
// ╰──────────┴─────────┼─────────┼──────────┼─────────────┤  ├────┼──────────┼──────────┼─────────┴─────────╯
                         &kp DEL   &kp BSPC   &kp RET          ___  ___        ___
//                      ╰─────────┴──────────┴─────────────╯  ╰────┴──────────┴──────────╯
)


ZMK_LAYER(media_layer,
// ╭────────────┬────────────┬─────────────┬────────────┬───────────╮  ╭────┬──────────┬──────────┬─────────┬─────────╮
    ___    ___    &kp C_VOL_UP  ___    ___      ___  ___        ___        ___       ___
// ├────────────┼────────────┼─────────────┼────────────┼───────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    ___    &kp C_PREV   &kp C_VOL_DN  &kp C_NEXT   ___       ___  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
// ├────────────┼────────────┼─────────────┼────────────┼───────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    ___  ___  ___   ___  ___     ___  ___        ___        &kp RALT  ___
// ╰────────────┴────────────┼─────────────┼────────────┼───────────┤  ├────┼──────────┼──────────┼─────────┴─────────╯
                              &kp C_MUTE    &kp C_PP     &kp C_STOP     ___  ___        ___
//                           ╰─────────────┴────────────┴───────────╯  ╰────┴──────────┴──────────╯
)

ZMK_LAYER(num_layer,
// ╭─────────┬─────────┬──────────┬──────────┬────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    ___       ___       ___        ___        ___     &kp LBKT   &kp NUM_7  &kp NUM_8  &kp NUM_9  &kp RBKT
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  ___     &kp EQL    &kp NUM_4  &kp NUM_5  &kp NUM_6  &kp SEMI
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    ___       &kp RALT  ___        ___        ___     &kp BSLH   &kp NUM_1  &kp NUM_2  &kp NUM_3  &kp GRAVE
// ╰─────────┴─────────┼──────────┼──────────┼────┤  ├──────────┼──────────┼──────────┼──────────┴──────────╯
                        ___        ___        ___     &kp MINUS  &kp NUM_0  &kp DOT
//                     ╰──────────┴──────────┴────╯  ╰──────────┴──────────┴──────────╯
)

ZMK_LAYER(sym_layer,
// ╭─────────┬─────────┬──────────┬──────────┬────╮  ╭──────────┬─────────┬──────────┬─────────┬──────────╮
    ___       ___       ___        ___        ___     &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR  &kp RBRC
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼─────────┼──────────┼─────────┼──────────┤
    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  ___     &kp PLUS   &kp DLLR  &kp PRCT   &kp CRRT  &kp COLON
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼─────────┼──────────┼─────────┼──────────┤
    ___       &kp RALT  ___        ___        ___     &kp PIPE   &kp EXCL  &kp AT     &kp HASH  &kp TILDE
// ╰─────────┴─────────┼──────────┼──────────┼────┤  ├──────────┼─────────┼──────────┼─────────┴──────────╯
                        ___        ___        ___     &kp UNDER  &kp LPAR  &kp RPAR
//                     ╰──────────┴──────────┴────╯  ╰──────────┴─────────┴──────────╯
)

ZMK_LAYER(fun_layer,
// ╭─────────┬─────────┬──────────┬──────────┬────╮  ╭────────────────┬────────┬──────────┬───────┬────────╮
    ___       ___       ___        ___        ___     &kp PSCRN        &kp F7   &kp F8     &kp F9  &kp F12
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├────────────────┼────────┼──────────┼───────┼────────┤
    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  ___     &kp SLCK         &kp F4   &kp F5     &kp F6  &kp F11
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├────────────────┼────────┼──────────┼───────┼────────┤
    ___       &kp RALT  ___        ___        ___     &kp PAUSE_BREAK  &kp F1   &kp F2     &kp F3  &kp F10
// ╰─────────┴─────────┼──────────┼──────────┼────┤  ├────────────────┼────────┼──────────┼───────┴────────╯
                        ___        ___        ___     &kp TAB          &kp SPC  &kp K_APP
//                     ╰──────────┴──────────┴────╯  ╰────────────────┴────────┴──────────╯
)
