#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"

/* layer and key shortcuts */

#define ___ &trans

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NAV 1
#define MEDIA 2
#define NUM 3
#define SYM 4
#define FUN 5

/* custom behaviors */

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

#define MIRYOKU_SHIFT_FUNCTION(NAME, BINDING, SHIFT_BINDING) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        bindings = <BINDING>, <SHIFT_BINDING>; \
        mods = <(MOD_LSFT|MOD_RSFT)>; \
    )

#define MIRYOKU_SHIFT_MACRO(NAME, BINDING, SHIFT_BINDING) \
    ZMK_BEHAVIOR(u_macro_ ## NAME, macro, \
        wait-ms = <0>; \
        bindings = <SHIFT_BINDING>; \
    ) \
    MIRYOKU_SHIFT_FUNCTION(NAME, BINDING, &u_macro_ ## NAME)

MIRYOKU_SHIFT_MACRO(u_bt_sel_0, &bt BT_SEL 0, &bt BT_SEL 0 &bt BT_CLR)
MIRYOKU_SHIFT_MACRO(u_bt_sel_1, &bt BT_SEL 1, &bt BT_SEL 1 &bt BT_CLR)
MIRYOKU_SHIFT_MACRO(u_bt_sel_2, &bt BT_SEL 2, &bt BT_SEL 2 &bt BT_CLR)
MIRYOKU_SHIFT_MACRO(u_bt_sel_3, &bt BT_SEL 3, &bt BT_SEL 3 &bt BT_CLR)
MIRYOKU_SHIFT_MACRO(u_bt_sel_4, &bt BT_SEL 4, &bt BT_SEL 4 &bt BT_CLR)

MIRYOKU_SHIFT_FUNCTION(u_out_tog, &out OUT_TOG, &out OUT_USB)

MIRYOKU_SHIFT_FUNCTION(u_caps_word, &caps_word, &kp CAPS)

MIRYOKU_SHIFT_FUNCTION(u_rgb_tog, &rgb_ug RGB_TOG, &rgb_ug RGB_OFF)
MIRYOKU_SHIFT_FUNCTION(u_rgb_eff, &rgb_ug RGB_EFF, &rgb_ug RGB_EFR)
MIRYOKU_SHIFT_FUNCTION(u_rgb_hui, &rgb_ug RGB_HUI, &rgb_ug RGB_HUD)
MIRYOKU_SHIFT_FUNCTION(u_rgb_sai, &rgb_ug RGB_SAI, &rgb_ug RGB_SAD)
MIRYOKU_SHIFT_FUNCTION(u_rgb_bri, &rgb_ug RGB_BRI, &rgb_ug RGB_BRD)
MIRYOKU_SHIFT_FUNCTION(u_ep_tog, &ext_power EP_TOG, &ext_power EP_OFF)

/* keymap */
/* format:
 xxxxx xxxxx
 xxxxx xxxxx
 xxxxx xxxxx
   xxx xxx
*/

ZMK_LAYER(default_layer,
// ╭────────────┬────────────┬─────────────┬─────────────┬────────────╮  ╭────────┬─────────────┬──────────────┬────────────┬────────────╮
    &kp SQT      &kp COMMA    &kp DOT       &kp P         &kp Y           &kp F    &kp G         &kp C          &kp R        &kp L
// ├────────────┼────────────┼─────────────┼─────────────┼────────────┤  ├────────┼─────────────┼──────────────┼────────────┼────────────┤
    &hrm LGUI A  &hrm LALT O  &hrm LCTRL E  &hrm LSHFT U  &kp I           &kp D    &hrm LSHFT H  &hrm LCTRL T   &hrm LALT N  &hrm LGUI S
// ├────────────┼────────────┼─────────────┼─────────────┼────────────┤  ├────────┼─────────────┼──────────────┼────────────┼────────────┤
    &kp SLASH    &hrm RALT Q  &kp J         &kp K         &kp X           &kp B    &kp M         &kp W          &hrm RALT V  &kp Z
// ╰────────────┴────────────┼─────────────┼─────────────┼────────────┤  ├────────┼─────────────┼──────────────┼────────────┴────────────╯
                              &lt FUN DEL   &lt NUM BSPC  &lt SYM RET     &kp TAB  &lt NAV SPC   &lt MEDIA ESC
//                           ╰─────────────┴─────────────┴────────────╯  ╰────────┴─────────────┴──────────────╯
)

ZMK_LAYER(nav_layer,
// ╭──────────┬──────────┬──────────┬──────────┬─────────────╮  ╭────┬──────────┬──────────┬─────────┬─────────╮
    &kp PG_UP  &kp HOME   &kp UP     &kp END    &kp INS          ___  ___        ___        ___       ___
// ├──────────┼──────────┼──────────┼──────────┼─────────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &u_caps_word     ___  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
// ├──────────┼──────────┼──────────┼──────────┼─────────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)        ___  ___        ___        &kp RALT  ___
// ╰──────────┴──────────┼──────────┼──────────┼─────────────┤  ├────┼──────────┼──────────┼─────────┴─────────╯
                          &kp DEL    &kp BSPC   &kp RET          ___  ___        ___
//                       ╰──────────┴──────────┴─────────────╯  ╰────┴──────────┴──────────╯
)


ZMK_LAYER(media_layer,
// ╭────────────┬────────────┬─────────────┬────────────┬───────────╮  ╭────┬──────────┬──────────┬─────────┬─────────╮
    U_RGB_HUI    U_RGB_SAI    &kp C_VOL_UP  U_RGB_BRI    U_RGB_TOG      ___  ___        ___        ___       ___
// ├────────────┼────────────┼─────────────┼────────────┼───────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    U_RGB_EFF    &kp C_PREV   &kp C_VOL_DN  &kp C_NEXT   U_EP_TOG       ___  &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
// ├────────────┼────────────┼─────────────┼────────────┼───────────┤  ├────┼──────────┼──────────┼─────────┼─────────┤
    &u_bt_sel_0  &u_bt_sel_1  &u_bt_sel_2   &u_bt_sel_3  &u_out_tog     ___  ___        ___        &kp RALT  ___
// ╰────────────┴────────────┼─────────────┼────────────┼───────────┤  ├────┼──────────┼──────────┼─────────┴─────────╯
                              &kp C_MUTE    &kp C_PP     &kp C_STOP     ___  ___        ___
//                           ╰─────────────┴────────────┴───────────╯  ╰────┴──────────┴──────────╯
)

ZMK_LAYER(num_layer,
// ╭─────────┬─────────┬──────────┬──────────┬────╮  ╭──────────┬──────────┬──────────┬──────────┬──────────╮
    ___       ___       ___        ___        ___     &kp LBKT   &kp NUM_7  &kp NUM_8  &kp NUM_9  &kp RBKT
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  ___     &kp EQL    &kp NUM_4  &kp NUM_5  &kp NUM_6  &kp SEMI
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼──────────┼──────────┼──────────┼──────────┤
    ___       &kp RALT  ___        ___        ___     &kp BSLH   &kp NUM_1  &kp NUM_2  &kp NUM_3  &kp GRAVE
// ╰─────────┴─────────┼──────────┼──────────┼────┤  ├──────────┼──────────┼──────────┼──────────┴──────────╯
                        ___        ___        ___     &kp MINUS  &kp NUM_0  &kp DOT
//                     ╰──────────┴──────────┴────╯  ╰──────────┴──────────┴──────────╯
)

ZMK_LAYER(sym_layer,
// ╭─────────┬─────────┬──────────┬──────────┬────╮  ╭──────────┬─────────┬──────────┬─────────┬──────────╮
    ___       ___       ___        ___        ___     &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR  &kp RBRC
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼─────────┼──────────┼─────────┼──────────┤
    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  ___     &kp PLUS   &kp DLLR  &kp PRCT   &kp CRRT  &kp COLON
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├──────────┼─────────┼──────────┼─────────┼──────────┤
    ___       &kp RALT  ___        ___        ___     &kp PIPE   &kp EXCL  &kp AT     &kp HASH  &kp TILDE
// ╰─────────┴─────────┼──────────┼──────────┼────┤  ├──────────┼─────────┼──────────┼─────────┴──────────╯
                        ___        ___        ___     &kp UNDER  &kp LPAR  &kp RPAR
//                     ╰──────────┴──────────┴────╯  ╰──────────┴─────────┴──────────╯
)

ZMK_LAYER(fun_layer,
// ╭─────────┬─────────┬──────────┬──────────┬────╮  ╭────────────────┬────────┬──────────┬───────┬────────╮
    ___       ___       ___        ___        ___     &kp PSCRN        &kp F7   &kp F8     &kp F9  &kp F12
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├────────────────┼────────┼──────────┼───────┼────────┤
    &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  ___     &kp SLCK         &kp F4   &kp F5     &kp F6  &kp F11
// ├─────────┼─────────┼──────────┼──────────┼────┤  ├────────────────┼────────┼──────────┼───────┼────────┤
    ___       &kp RALT  ___        ___        ___     &kp PAUSE_BREAK  &kp F1   &kp F2     &kp F3  &kp F10
// ╰─────────┴─────────┼──────────┼──────────┼────┤  ├────────────────┼────────┼──────────┼───────┴────────╯
                        ___        ___        ___     &kp TAB          &kp SPC  &kp K_APP
//                     ╰──────────┴──────────┴────╯  ╰────────────────┴────────┴──────────╯
)
