// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_X(CODE, EMPTY) \
MIRYOKU_TAPDELAY_TAP(CODE##EMPTY) \
MIRYOKU_TAPDELAY_MT_LEFT(CODE##EMPTY) \
MIRYOKU_TAPDELAY_MT_RIGHT(CODE##EMPTY) \
MIRYOKU_TAPDELAY_MT_LEFT_PINKY(CODE##EMPTY) \
MIRYOKU_TAPDELAY_MT_RIGHT_PINKY(CODE##EMPTY) \
MIRYOKU_TAPDELAY_LT(CODE##EMPTY)

MIRYOKU_TAPDELAY_LIST

#undef MIRYOKU_X
